html, body {
height: 100%;
width: 100%;
}
body{
    background-color: antiquewhite;
}
#carrier{
    background-color: darksalmon;
    border: none;
    height: 500px;
    width: 450px;
    margin: 15px;
    text-align: center;
}
p{
    color: #3c1a1a;
    font-size: 24px;
}

#userinput{
    width: 100px;
    margin: 25px auto;
    display: none;
}
#userNameDiv{
    display: block;
}
#player{
    display: none;
}
#username{
    width: 100px;
    margin: 25px auto;
}
#ouroutput{
    display: none;
}
#points{
    display: none;
}
#random{
    display: none;
}
#stage{
    display: none;
}
#butnn{
    margin: auto;
    display: block;
}
#check{
    margin: auto;
    background-color: red;
    color: white;
    display: none;
  }